body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: radial-gradient(#FFFFFF, #FFFFFF, #f5e9f7);
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}

nav {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    display: flex;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.3rem;

}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}
ul  a{
    text-decoration:none;
    color:black;
}

ul li {
    padding: 15px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 15px;
    text-decoration:none;
}

li:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
    padding: 15px 15px;
    transition: all 0.3s ease;
    color: #A53CFD;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;

}

.p {
    width: 50px;
    height: 50px;
    background-color: #A53CFD;
    border-radius: 50%;
    color: white;
    position: relative;
}

.p h2 {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-btn {
    padding: 15px 25px;
    background-color: #A53CFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    background-color: #7004c8;
    transition: all 0.6s ease;
    transform: scale(1.01);
}
.hero-btn {
    padding: 15px 25px;
    background-color: #A53CFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background-color: #7004c8;
    transition: all 0.6s ease;
    transform: scale(1.01);
}

.list-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer
}

main {
    display: flex;
    align-items: center;
    padding: 100px 30px;
    gap: 5rem;
    width:100%;
}

.img {
    width: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px gray;
    height: 700px;
    margin-top: 20px;
    margin-left: 60px;
}

.content {
    width: 50%;
}

.content h2 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.content p {
    font-size: 1rem;
    font-weight: light;
    word-spacing: 1px;
}

.counter-section {
    display: flex;
    gap: 0.5rem;
    margin-top: 270px;
}

.counter {
    width: 400px;
    height: 140px;
    background-color: #F6EBFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.counter h3 {
    font-size: 3rem;
}

.about-section{
    display:flex;
    gap:5rem;
    background-color:white;
    border-radius:10px;
    
    margin:100px auto;
    align-items:center;
    justify-content:center;
    padding:100px 30px;
    box-shadow:1px 1px 1px lightgray;
}
.about-text{
    width:50%;
    margin-top:50px;

}
.about-img{
    height:500px;
    position:relative;
}
.about-img img{
    border-radius:10px;
}
.icons-div{
    width:300px;
    height:120px;
    background-color:white;
    position:absolute;
    margin-left:10%;
    margin-top:-10%;
    border-radius:5px;
    box-shadow: 1px 2px 5px gray;
    display:flex;
    align-items:center;
    justify-content:space-around;
    color:#A53CFD;
    font-size:20px;
}
.icons-div i{
    padding:20px 15px;
}
.icons-div i:hover{
    background-color:#A53CFD;
    color:white;
    padding:20px 15px;
    border-radius:5px;
}
.heading{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.about-text p{
    margin-top:20px;
    margin-bottom:20px;
     word-spacing:1px;
    letter-spacing: 1px;
}
.about-btn{
     padding: 15px 25px;
    background-color: #A53CFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.about-btn:hover{
    background-color: #7004c8;
    transition: all 0.6s ease;
    transform: scale(1.01);
}
.about-cv{
     padding: 15px 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background-color:transparent;
    margin-left:10px;
    margin-top:60px;
}
.p-card i{
    margin-right:10px;
}
.about-cv:hover{
    border:2px solid #7004c8;
    color:#A53CFD;
}

.p-card{
    width:48%;
    height:auto;
    background-color:rgb(250, 247, 247);
    border-radius:10px;
    box-shadow:10px 15px 15px lightgray;
    padding:40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:2rem;
    transition:all 0.3s ease;
}
.p-card:hover .p-icon{
    background-color:#A53CFD;
    color:white;
}
.p-card:hover{
    background-color:white;
    box-shadow:0 10px 12px rgba(0,0,0,0.10);
}
.p-card p{
   color:rgb(148, 147, 147);
   font-size:1.2rem;
}
.p-card h5{
    font-size:2rem;
    font-weight:3rem;
}
.process-section{
    display:flex;
    padding:100px 60px;
    gap:5rem;
    background-color:#F0F1F3;
     
}
.p-icon{
    font-size:3rem;
    color:#A53CFD;
    width:100px;
    height:100px;
    background-color:#cdbfd9;
    border-radius:10px;
    margin-left:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.p-text{
    display:flex;
    flex-direction:column;
    gap:2rem;
    justify-content:center;
    width:60%;
}
.p-text p{
    font-size:1.3rem;
    word-spacing:1px;
    color:rgb(157, 157, 157);
}
.card-section{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;

}
.p-head{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
    width:40%;
    margin:auto;
}
.card{
    width:31%;
    height:auto;
    border-radius:10px;
    border:none;
    transition:all 0.3s;
}
.card:hover{
    background-color:white;
    /* box-shadow:0 12px 15px rgba(0,0,0,0.20); */
    box-shadow:0 0 20px rgba(0,0,0,0.20);
}
.card button{
    width:max-content;
    padding:8px 20px;
    background:transparent;
    border:1px solid lightgray;
    font-size:2rem;
    font-weight:3rem;
    transition:all 0.3s;
}
.card button:hover{
    border:1px solid #A53CFD;
    border-radius:5px;
    color:#A53CFD;
}
.card button:hover i{
    margin-left:12px;
}
.portfolio-section{
padding:100px 10px;
 

}
.p-cards{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    padding-top:50px;
    width:90%;
    margin:auto;

}
.p-btn{
     padding: 15px 35px;
    background-color: #A53CFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.6s ease;
    margin-left:45%;
    margin-top:50px;
}
.p-btn:hover{
    background-color: #7004c8;
    transform: scale(1.01);
}
.p-head h2{
font-size:4rem;
font-weight:2rem;
}
.p-head p{
    font-size:1.5rem;
    color:#99A1AF;
}
.card-t{
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:20px 25px 20px 25px;
}
.ui{
    color:#99A1AF;
}
.mid-sec{
background-color:#101828;
color:white;
height:600px;
}
.mid-cont{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:50%;
    margin:auto;
    padding:8% 0;
    gap:2rem;
}
.mid-cont h2{
    font-size:4rem;
    font-weight:2rem;
}
.mid-cont p{
    font-size:1.5rem;
    text-align:center;
}
.mid-cont button{
     padding: 18px 40px;
    background-color: #A53CFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.mid-cont button:hover{
    background-color: #7004c8;
    transition: all 0.6s ease;
    transform: scale(1.02);
}
.mid-cont button i{
    padding:0 5px;
    font-size:1.2rem;
}
.b-card{
    width:25%;
    height:auto;
    display:flex;
    flex-direction:column;
    gap:1rem;
    border-radius:10px;
    box-shadow:10px 15px 10px lightgray;
    transition:all 0.3s;
}
.b-card:hover{
    background-color:white;
    box-shadow:0 0 20px rgba(0,0,0,0.20);
}
.b-card img{
    border-radius:10px 10px 0 0;
}
.b-cards{
    display:flex;
    gap:1rem;
    width:80%;
    margin:50px auto;
}
.b-text{
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.blog{
    padding:100px 10px;
     background: radial-gradient(#E8FBF6, #FFFFFF, #F8DFFC);
}
.s-btn{
     padding: 15px 25px;
    background-color: #A53CFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.s-btn:hover{
    background-color: #7004c8;
    transform: scale(1.02);
}
.services{
    display:flex;
    background-color:#F0F1F3;
    gap:50px;
    padding:150px 60px;
}
.s-text{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    gap:1rem;
}
.s-card{
    width:100%;
    height:200px;
    background-color:white;
    border-radius:10px;
    padding:30px;
    justify-content:center;
    transition:all 0.3s;
}
.s-card:hover{
    box-shadow:0 0 20px rgba(0,0,0,0.20);
}
.s-card p{
    font-size:1.2rem;
    word-spacing:0.2rem;
}
.s-cards{
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.s-text h2{
    font-size:3rem;
}
.s-text p{
    font-size:1.2rem;
    word-spacing:0.3rem;
    color:#99A1AF;
}

.h-links{
    display:flex;
    width:70%;
    gap:5rem;
    margin:auto;
    padding:50px 0;

}
.h-text{
    width:50%;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:2rem;

}
.h-text h2{
    font-size:3rem;
    font-weight:20px;
}
.h-text p{
    font-size:25px;
    word-spacing:.3rem;
    color:#99A1AF;
}
.happy-sec{
    padding:100px 60px;
}
.h-head{
    width:60%;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:1rem;
    text-align:center;
    margin-top:50px;
    font-size:1.3rem;
    font-weight:25px;
}

.logo-sec{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.footer-sec{
    background-color:#293649;
    height:380px;
    color:white;
     padding-top:10%;
     position:relative;
     z-index:1;
}
.thumnail{
    text-align:center;
    margin-top:50px;
}

.contact-sec{
    display:flex;
    gap:5rem;
    justify-content:space-around;
    height:auto;
    width:95%;
    border-radius:10px;
    background-color:#FFFFFF;
    box-shadow:0 12px 15px rgba(0,0,0,0.20);
    padding:70px 50px;
    margin:auto;
    position:relative;
    margin-bottom:-50px;
    z-index:2;
    
}
.c-form{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:2rem;

}
form{
    width:80%;
    font-size:1.5rem;
    
}
.sub{
    width:30%;
}
.bud{
    width:68%;
}
input{
    border-top:none;
    border-right:none;
    border-left:none;
    outline:none;
    width:100%;
    padding:5px;
    padding-top:20px;
}
.c-form p{
    color:#99A1AF;
    font-size:1.6rem;
    
}

.c-form button{
     padding: 15px 25px;
    background-color: #A53CFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.c-form button:hover{
    background-color: #7004c8;
    transform: scale(1.02);
}
.c-text h3{
    font-size:3rem;
}
.c-text p{
     color:#99A1AF;
    font-size:1.6rem;
}
.c-text{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:2rem;
}
.c-card{
    display:flex;
    align-items:center;
    gap:2rem;
}
.c-card i{

    font-size:2rem;
    color:#A53CFD;
    width:70px;
    height:70px;
    background-color:#cdbfd9;
    border-radius:10px;
    margin-left:20px;
    display:flex;
    justify-content:center;
    align-items:center;

}
 
.c-card{
    transition:all 0.2s;
     width:180%;
    height:120px;
    border-radius:10px;
}
.c-card:hover{
    background-color:white;
    box-shadow:0 0 20px rgba(0,0,0,0.20);
    width:180%;
    height:120px;

}
.c-card:hover i{
    background-color:#A53CFD;
    color:white;
}
.c-cards{
    display:flex;
    flex-direction:column;
    gap:2rem;
}


.icon-div{
    
    display:flex;
    align-items:center;
    justify-content:space-around;
    color:#A53CFD;
    font-size:20px;
}
.icon-div i{
    padding:15px 15px;
}
.icon-div i:hover{
    background-color:#A53CFD;
    color:white;
    padding:15px 15px;
    border-radius:5px;
}


/* media querie section*/
@media only screen and (max-width:600px) {
    li {
        display: none;
    }

    .logo .list-icon {
        display: inline-block;
        font-size:2rem;
    }

    main {

        flex-direction: column-reverse;
    }

    .img {
        width: 90%;
        margin: auto;
    }

    .content {
        width: 100%;
    }
    .content h2{
        text-align:center;
        margin-bottom:20px;
    }
    .spn{
        margin-left:15%; 
    }
    .hero-btn{
        margin-left:35%;
        margin-top:20px;
    }
    .counter-section{
        margin-top:30px;
    }
    .about-section{
        display:inline-block;
        padding:5px;
        margin-left:10px;
    }
    .about-img{
        margin-left:15%;
        padding-top:20px;
    }
    .about-text{
    width:100%;
    margin-top:100px;
    padding:5px;
    }
    .about-text h2{
        width:auto;
    }
    .about-text h2{
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
}
.about-btn{
    margin-left:15%;
}
.process-section{
    display:inline-block;
    padding:20px;
}
.p-text{
    width:100%;
    text-align:center;
    padding-top:10px;
}
.card-section{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding-top:20px;

}
.p-head{
    width:100%;
    display:inline-block;
    text-align:center;
}
.p-cards{
display:inline-block;
width:100%;
}
.card{
    width:80%;
    margin:auto;
    margin-top:15px;
}
.card button{
    margin-left:25%;
}
.p-btn{
    margin-left:35%;
}
.mid-cont{
    width:100%;
    padding:20% 10px;
}
.mid-cont h2{
    font-size:1.5rem;
    text-align:center;
}
.mid-cont p{
    font-size:1rem;
    text-align:center;
}
.b-cards{
    display:inline-block;
    width:100%;

    
}
.b-card{
    width:90%;
    margin:auto;
}
.b-card:nth-child(2){
    display:none;
}
.b-card:nth-child(3){
    display:none;
}
.b-card:nth-child(4){
    display:none;
}
.services{
    display:inline-block;
    gap:2rem;
    padding:10px;
}
.s-text{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.s-cards{
    margin-top:2rem;
}
.h-head,.h-text{
    width:100%;
    padding:0;
    text-align:center
}
.h-links{
    width:100%;
}
 
.h-text h{
font-size:2px;
}
.h-text p{
    padding:2px;
}
.contact-sec{
    display:inline-block;
    width:100%;
}
.c-text,.c-form{
    width:100%;
    padding:0;
    text-align:center;
}
.c-text h3{
    font-size:2rem;
    margin:auto;
}
.icon-div{
    margin-left:35%;
}
form{
    width:100%;
}
.c-form button{
margin:auto;
}
.logo-sec{
    display:flex;
    flex-direction:column;
    text-align:center;
    gap:2rem;
    margin-top:20px;
}
.logo{
    margin-top:20px;
}
.list ul li{
    display:flex;
    justify-content:space-between;
    padding:0;

}
 
.footer-sec{
    height:auto;
}
.thumnail{
    padding:20px 0;
}

}